body{
    /*font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;*/
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4
}
/*Se usan clases para reutilizar en varios lados y ids para identificar secciones*/
.container{
    width: 80%; /* Como es una pagina web responsiva se pone un porcentaje, no un tamaño fijo*/
    margin: auto; /*Por default lo deja a la izquierda, poniendole auto lo centra*/
    overflow: hidden; /*"si algo se sale del div, no se quiere tener un scroll"*/

}
.button_1{
    height: 38px;
    background: #e8491d;
    border: none; /*o tabmien 0*/
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;

}

ul{
    margin:0;
    padding: 0;     /*Esto hace que se desaparezcan los bullets*/
}

header{
    background: #35424a;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 70px;    /*En lugar de setear la altura, se define un min-height para cuando se tienen pantallas pequeñas y no se desborde la linea */
    border-bottom: #e8491d 3px solid;       /*Sin solid no pone la linea*/
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float:left;     /* ¿Para que sirve float????? */
    display: inline;
    padding: 0 20px 0 20px ;      /*top right botton left */
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{     /* Ver como no se pone ul ó li Duda: revisar como se usan los dos puntos*/
    color:#cccccc;
    font-weight: bold;
}

/*Showcase*/
#showcase{
    min-height: 400px; /*Esto lo hace responsivo Duda: ver como funciona min-height --> esto delimita el tamaño de la imagen*/
    background:url('../img/showcase.jpg') no-repeat 0/*eje de las x*/ -1000px /*Eje de las y*/; /*Creo que el no-repeat hace que no lo pegue cuando sean imagenes pequeñas Duda: validarlo*/
    text-align:center;
    color:#FFFFFF;

}
#showcase h1{
    margin-top:100px;
    fontz-size:55px;
    margin-bottom: 30px;
}

#showcase p{
    font-size: 20px;
}

#newsletter{
    padding:15px;
    background:#35424a;
    color:#ffffff;

}
#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top:15px;
}

#newsletter input[type="email"]{  /* Cuando se quiere ser más específico se pone entre corchetes el input type*/
    padding: 4px;
    height: 25px;
    width:250px;

}

#boxes{
    padding-top:10px;
}
#boxes .box{
    float: left;
    text-align: center;  /*Duda: como funciona text-align? porque agarra también la imagen?*/
    width: 30%; /*se esta seteando el tamaño de cada imagen con su texto*/
    padding:10px;
}

#boxes .box img{
    width: 90px;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color: #e8491d;
    text-align: center;
}
