body{
    /*font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;*/
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4
}

.container{
    width: 80%; /* Como es una pagina web responsiva se pone un porcentaje, no un tamaño fijo*/
    margin: auto; /*Por default lo deja a la izquierda, poniendole auto lo centra*/
    
}